* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(200, 241, 255);
    font-family: sans-serif;
    margin: 8px;
}

h1 {
    text-align: center;
    background-color: white;
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 8px;
    display: block;
}

.recipe-card {
    background-color: white;
    width: 720px;
    height: 229px;
    border: 2px solid darkred;
    margin: 0px auto;
}

.recipe-content {
    display: inline-block;
    width: 480px;
    vertical-align: top;
    padding: 4px;
}

img {
    display: inline-block;
} 

.recipe-content h2 {
    margin: 10px auto;
}

.recipe-content a {
    background-color: orange;
    color: white;
    padding: 5px;
    margin-top: 15px;
    margin-left: 200px;
    display: inline-block;
    text-decoration: none;
}